<h1>Getting Started with Ruby</h1>

<script type="text/javascript" >
    function somefunction(){
        // schemeは適当でおｋ
        open("hiratsuka://area=1&pref=1”);
    }


</script>


<p>
  Welcome!
</p>

